<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="1Source-Automation" verbose="2" parallel="classes">
	<listeners>
		<listener class-name="Base.staNGlistener" />
	</listeners>
	<test name="Regression">
		<classes>
		<class name="cucumberOptions.GBHotelBookingRunner" />
		
		<!-- <class name="cucumberOptions.InsuranceRunner" /> -->
		<!-- <class name="cucumberOptions.TransfersRunner" /> -->
	 	<!-- <class name="cucumberOptions.ActivitiesAndDayTripsRunner" />  -->
		</classes>
	</test>
</suite>